* {
  font-family: "Poppins";
  letter-spacing: 0 !important;
}

.PoppinsBold {
  font-weight: bold;
}

a {
  color: #566FFF;
}

.header-inner {
  display: none;
}

body {
  background-color: #F8F8F8 !important;
}

.Zielone {
  color: #566FFF;
}

a {
  color: #566FFF;
}

h1 .heading-size-1 {
  font-size: 6rem;
}

.entry-header-inner {
  max-width: 100% !important;
  width: 100%;
}

.entry-title {
  display: none;
}

.powered-by-wordpress {
  display: none;
}

.footer-credits {
  display: none;
}

.to-the-top {
  display: none;
}

.Autor {
  position: relative;
}

.Autor .AutorTooltip {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5px 0;
  width: 250px;
  border-radius: 4px;
  position: absolute;
  top: -35px;
}

.Autor:hover .AutorTooltip {
  display: block;
}

header {
  height: 92px;
}

header .HeaderInner {
  height: 92px;
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
  padding: 27px 0px 27px 0px;
  line-height: 43px;
}

header .HeaderInner .HeaderImage {
  width: 30%;
  float: left;
  position: relative;
  top: 4px;
}

header .HeaderInner .HeaderImage.Centered {
  width: 100%;
  float: unset;
}

header .HeaderInner .HeaderImage.Centered img {
  margin: auto;
}

header .HeaderInner .HeaderMenu {
  width: 67%;
  float: right;
}

header .HeaderInner .HeaderMenu .menu-mainmenu-container {
  float: left;
}

header .HeaderInner .HeaderMenu .menu-mainmenu-container ul {
  margin: 0px;
}

header .HeaderInner .HeaderMenu .menu-mainmenu-container ul li {
  display: inline;
}

header .HeaderInner .HeaderMenu .menu-mainmenu-container ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #202020;
  text-decoration: none;
}

header .HeaderInner .HeaderMenu .menu-mainmenu-container ul li:hover {
  padding-bottom: 27px;
  border-bottom: 4px solid #566FFF;
}

header .HeaderInner .HeaderMenu .menu-mainmenu-container ul .current-menu-item {
  padding-bottom: 27px;
  border-bottom: 4px solid #566FFF;
}

header .HeaderInner .HeaderMenu .menu-mainmenu-container ul .menu-item-1237 a, header .HeaderInner .HeaderMenu .menu-mainmenu-container ul .menu-item-1238 a, header .HeaderInner .HeaderMenu .menu-mainmenu-container ul .menu-item-1239 a {
  color: #D8D8D8;
}

header .HeaderInner .HeaderMenu .menu-mainmenu-container ul .menu-item-1237:hover, header .HeaderInner .HeaderMenu .menu-mainmenu-container ul .menu-item-1238:hover, header .HeaderInner .HeaderMenu .menu-mainmenu-container ul .menu-item-1239:hover {
  border-bottom: none;
}

header .HeaderInner .HeaderMenu .menu-mainmenu-container ul .menu-item-1237:hover a, header .HeaderInner .HeaderMenu .menu-mainmenu-container ul .menu-item-1238:hover a, header .HeaderInner .HeaderMenu .menu-mainmenu-container ul .menu-item-1239:hover a {
  cursor: default;
}

header .HeaderInner .LogoutButton {
  width: 35px;
  height: 35px;
  float: right;
  margin-top: 4px;
  outline: 0;
}

footer {
  background-color: transparent !important;
}

footer .FooterInner {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

footer .FooterInner .FooterLeft {
  width: 50%;
  text-align: left;
  font-size: 14px;
  color: #707070;
}

footer .FooterInner .FooterRight {
  width: 50%;
  text-align: right;
  font-size: 14px;
  color: #707070;
}

footer .FooterInner .FooterRight p {
  display: inline;
}

footer .FooterInner .FooterRight p a {
  text-decoration: none;
  color: #707070;
}

footer .FooterInner .FooterRight .Spacer {
  padding: 0 15px;
}

.Wrapper.HomePage {
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 90px;
}

.Wrapper.HomePage .Columns3Wrapper {
  display: flex;
  flex-wrap: wrap;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter {
  width: 33.333%;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner {
  text-align: center;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneAdresowe, .Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneKontaktowe {
  font-size: 16px;
  color: #707070;
  padding: 40px 0px;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneAdresowe .HeaderIcon, .Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneKontaktowe .HeaderIcon {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneAdresowe .DaneHeader, .Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneKontaktowe .DaneHeader {
  font-size: 28px;
  color: #202020;
  margin-top: 0px;
  margin-bottom: 20px;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneAdresowe p, .Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneKontaktowe p {
  margin-bottom: 5px;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneAdresowe a, .Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneKontaktowe a {
  text-decoration: none;
  color: #707070;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LoginWrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 40px;
  border-radius: 4px;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LoginWrapper h4 {
  font-weight: bold;
  color: #202020;
  font-size: 20px;
  margin-top: 0px;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LoginWrapper .LogoutButton {
  display: block;
  text-align: center;
  outline: 0;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LoginWrapper .LoginForm {
  text-align: center;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LoginWrapper .LoginForm input {
  max-width: 320px;
  width: 100%;
  margin: auto;
  border-radius: 4px;
  border: none;
  background-color: #F8F8F8;
  margin-bottom: 15px;
  color: #707070;
  font-family: "Poppins";
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LoginWrapper .LoginForm input::placeholder {
  color: #A3A6B0;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LoginWrapper .LoginForm input:focus {
  outline: none;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LoginWrapper .LoginForm input[type="submit"] {
  background-color: #566FFF;
  color: white;
  text-transform: capitalize;
}

.Wrapper.Zalogowany {
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 90px;
}

.Wrapper.Zalogowany .OgloszeniaContainer .TopContainer {
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
}

.Wrapper.Zalogowany .OgloszeniaContainer .TopContainer h2 {
  display: contents;
  margin: 0px;
  margin-bottom: 15px;
}

.Wrapper.Zalogowany .OgloszeniaContainer .TopContainer h2 a {
  font-size: 38px;
  font-weight: bold;
  color: #202020;
  text-decoration: none;
}

.Wrapper.Zalogowany .OgloszeniaContainer .TopContainer .ButtonsContainer {
  float: right;
  height: 50px;
}

.Wrapper.Zalogowany .OgloszeniaContainer .TopContainer .ButtonsContainer button {
  background-color: #566FFF;
  border-radius: 4px;
  width: 168px;
  height: 50px;
  text-transform: none;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 0px;
  float: left;
  outline: 0;
}

.Wrapper.Zalogowany .OgloszeniaContainer .TopContainer .ButtonsContainer button:nth-of-type(2) {
  margin-left: 15px;
}

.Wrapper.Zalogowany .OgloszeniaContainer .OgloszeniaInner {
  background-color: white;
  padding: 30px 40px;
  border-radius: 4px;
}

.Wrapper.Zalogowany .OgloszeniaContainer .OgloszeniaInner a {
  text-decoration: none;
}

.Wrapper.Zalogowany .OgloszeniaContainer .OgloszeniaInner a .Ogloszenie {
  margin-top: 20px;
  padding-bottom: 20px;
}

.Wrapper.Zalogowany .OgloszeniaContainer .OgloszeniaInner a .Ogloszenie .DateContainer p {
  color: #707070;
  font-size: 14px;
}

.Wrapper.Zalogowany .OgloszeniaContainer .OgloszeniaInner a .Ogloszenie .DateContainer p span {
  font-weight: bold;
}

.Wrapper.Zalogowany .OgloszeniaContainer .OgloszeniaInner a .Ogloszenie .OgloszenieContent {
  color: #707070;
  font-size: 14px;
}

.Wrapper.Zalogowany .OgloszeniaContainer .OgloszeniaInner a:first-of-type .Ogloszenie {
  border-bottom: 1px solid #EDEDED;
}

.Wrapper.Zalogowany .DataContainer {
  margin-top: 85px;
}

.Wrapper.Zalogowany .DataContainer .DataInner {
  display: flex;
  flex-wrap: wrap;
}

.Wrapper.Zalogowany .DataContainer .DataInner .DataColumn {
  width: 33.333%;
}

.Wrapper.Zalogowany .DataContainer .DataInner .DataColumn .DataColumnInner {
  text-align: center;
}

.Wrapper.Zalogowany .DataContainer .DataInner .DataColumn .DataColumnInner .DataIcon {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.Wrapper.Zalogowany .DataContainer .DataInner .DataColumn .DataColumnInner h5 {
  font-size: 28px;
  font-weight: bold;
  color: #202020;
  margin: 0px;
  margin-bottom: 20px;
}

.Wrapper.Zalogowany .DataContainer .DataInner .DataColumn .DataColumnInner p {
  color: #707070;
  font-size: 16px;
  margin: 0px;
}

.Wrapper.Zalogowany .DataContainer .DataInner .DataColumn .DataColumnInner p span {
  font-weight: bold;
}

.Wrapper.Zalogowany .DataContainer .DataInner .DataColumn .DataColumnInner p a {
  color: #707070;
  text-decoration: none;
}

.Wrapper.Forum {
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 90px;
}

.Wrapper.Forum .ForumContent {
  margin-bottom: 60px;
}

.Wrapper.Forum .ForumContent .TopContainer {
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
}

.Wrapper.Forum .ForumContent .TopContainer .WatekName {
  display: inline;
  font-size: 38px;
  font-weight: bold;
  color: #202020;
}

.Wrapper.Forum .ForumContent .TopContainer .WatekName a {
  font-size: 38px;
  font-weight: bold;
  text-decoration: none;
  color: #202020;
}

.Wrapper.Forum .ForumContent .TopContainer .ButtonsContainer {
  float: right;
  height: 50px;
}

.Wrapper.Forum .ForumContent .TopContainer .ButtonsContainer button {
  background-color: #566FFF;
  border-radius: 4px;
  width: 168px;
  height: 50px;
  text-transform: none;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 0px;
  float: left;
  outline: 0;
}

.Wrapper.Forum .ForumContent .TopContainer .ButtonsContainer button:nth-of-type(2) {
  margin-left: 15px;
}

.Wrapper.Forum .ForumContent .Post {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 4px;
}

.Wrapper.Forum .ForumContent .Post a {
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #707070;
}

.Wrapper.Forum .ForumContent .Post a .PostIconContainer {
  width: 125px;
  height: 90px;
  padding: 20px 30px;
}

.Wrapper.Forum .ForumContent .Post a .PostIconContainer img {
  width: 50px;
  height: 50px;
}

.Wrapper.Forum .ForumContent .Post a .PostContentContainer {
  width: 745px;
  height: 90px;
  padding: 16px 0px;
}

.Wrapper.Forum .ForumContent .Post a .PostContentContainer .PostTitle {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #202020;
  margin-bottom: 0px;
}

.Wrapper.Forum .ForumContent .Post a .PostContentContainer .PostContent {
  font-size: 14px;
  margin: 0px;
}

.Wrapper.Forum .ForumContent .Post a .PostAnswersContainer {
  width: 180px;
  height: 90px;
}

.Wrapper.Forum .ForumContent .Post a .PostAnswersContainer .PostAnswers {
  line-height: 90px;
  color: #566FFF;
  font-size: 16px;
  font-weight: bold;
}

.Wrapper.Forum .ForumContent .Post a .PostInfo {
  width: 230px;
  height: 90px;
  padding: 22px 0px;
}

.Wrapper.Forum .ForumContent .Post a .PostInfo p {
  font-size: 16px;
  margin: 0px;
}

.Wrapper.Forum .ForumContent .Post a .PostInfo p span {
  font-weight: bold;
}

.Wrapper.Post {
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 90px;
}

.Wrapper.Post .BackButton {
  float: right;
  background-color: #566FFF;
  border-radius: 4px;
  margin-top: -65px;
  width: 168px;
  height: 50px;
  text-transform: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 0px;
  outline: 0;
}

.Wrapper.Post .PostInner {
  background-color: white;
  padding: 30px 40px;
  border-radius: 4px;
  margin-top: 165px;
}

.Wrapper.Post .PostInner .PostHeader {
  display: flex;
  flex-wrap: wrap;
  height: 90px;
}

.Wrapper.Post .PostInner .PostHeader.ZgloszenieHeader {
  height: 125px;
}

.Wrapper.Post .PostInner .PostHeader .PostTitle {
  width: 1020px;
}

.Wrapper.Post .PostInner .PostHeader .PostTitle h2 {
  font-weight: bold;
  font-size: 30px;
  color: #202020;
  margin: 0px;
}

.Wrapper.Post .PostInner .PostHeader .PostTitle .ZgloszenieStatusContainer {
  padding: 20px 0px;
}

.Wrapper.Post .PostInner .PostHeader .PostTitle .ZgloszenieStatusContainer p {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  text-transform: uppercase;
  border: 1px solid;
  text-align: center;
  height: 38px;
  line-height: 38px;
  width: 135px;
}

.Wrapper.Post .PostInner .PostHeader .PostTitle .ZgloszenieStatusContainer #StatusSelect {
  text-transform: uppercase;
  outline: 0;
  font-weight: bold;
}

.Wrapper.Post .PostInner .PostHeader .PostTitle .ZgloszenieStatusContainer form {
  display: inline;
}

.Wrapper.Post .PostInner .PostHeader .PostTitle .ZgloszenieStatusContainer form #StatusValue {
  display: none;
}

.Wrapper.Post .PostInner .PostHeader .PostTitle .ZgloszenieStatusContainer form input[type="submit"] {
  display: none;
  background-color: #566FFF;
  border-radius: 4px;
  margin-top: -65px;
  width: 168px;
  height: 50px;
  text-transform: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 0px;
}

.Wrapper.Post .PostInner .PostHeader .PostInfo {
  width: 180px;
}

.Wrapper.Post .PostInner .PostHeader .PostInfo p {
  color: #707070;
  font-size: 16px;
  margin: 0px;
}

.Wrapper.Post .PostInner .PostHeader .PostInfo p span {
  font-weight: bold;
}

.Wrapper.Post .PostInner .PostContent {
  color: #707070;
  font-size: 14px;
  text-align: left;
  margin-bottom: 75px;
}

.Wrapper.Post .PostInner .PostAttachments {
  margin-bottom: 15px;
}

.Wrapper.Post .PostInner .PostAttachments .AttachmentsHeader {
  font-weight: bold;
  font-size: 24px;
  color: #202020;
  margin: 0px;
  margin-bottom: 15px;
}

.Wrapper.Post .PostInner .PostAttachments .Files {
  display: flex;
  flex-wrap: wrap;
}

.Wrapper.Post .PostInner .PostAttachments .Files .File {
  width: 100%;
  margin-bottom: 5px;
}

.Wrapper.Post .PostInner .PostAttachments .Files .File a {
  display: flex;
  margin-right: 5px;
  text-decoration: none;
  color: #707070;
  font-size: 16px;
}

.Wrapper.Post .PostInner .PostAttachments .Files .File a img {
  display: inline;
  width: 32px;
  height: 32px;
  margin-left: -3px;
}

.Wrapper.Post .PostInner .PostAttachments .Files .File a .FileName {
  text-decoration: none;
  color: #707070;
  font-size: 16px;
  font-weight: normal;
  display: inline;
  line-height: 32px;
  padding-left: 5px;
  margin: 0px;
}

.Wrapper.Post .PostInner .PostAnswersContainer .PostAnswers {
  color: #566FFF;
  font-size: 16px;
  font-weight: bold;
}

.Wrapper.Post .PostInner .PostComments .Comment {
  border-top: 1px solid #EDEDED;
  padding: 20px 0px;
}

.Wrapper.Post .PostInner .PostComments .Comment .CommentInfo p {
  color: #707070;
  font-size: 14px;
  margin: 0px;
  display: inline;
  margin-right: 30px;
}

.Wrapper.Post .PostInner .PostComments .Comment .CommentInfo p span {
  font-weight: bold;
}

.Wrapper.Post .PostInner .PostComments .Comment .CommentInfo .OdpowiedzZarzadcy {
  color: #566FFF;
  font-weight: bold;
}

.Wrapper.Post .PostInner .PostComments .Comment .CommentContent {
  color: #707070;
  font-size: 14px;
  margin-top: 20px;
}

.Wrapper.Post .CommentFormWrapper {
  margin-top: 30px;
}

.Wrapper.Post .CommentFormWrapper form #CommentContent {
  background-color: white;
  padding: 35px 40px;
  border: none;
  font-size: 14px;
  color: #707070;
  border-radius: 4px;
}

.Wrapper.Post .CommentFormWrapper form #CommentContent:focus {
  outline: none;
}

.Wrapper.Post .CommentFormWrapper form #CommentContent::-webkit-input-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.Post .CommentFormWrapper form #CommentContent::-moz-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.Post .CommentFormWrapper form #CommentContent:-ms-input-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.Post .CommentFormWrapper form #CommentContent:-moz-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.Post .CommentFormWrapper form input[type="submit"] {
  float: right;
  background-color: #566FFF;
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 4px;
  width: 170px;
  height: 50px;
  line-height: 0px;
  color: white;
}

.Wrapper.Documents {
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 90px;
}

.Wrapper.Documents .AllDocuments {
  margin-bottom: 60px;
}

.Wrapper.Documents .AllDocuments .TopContainer {
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
}

.Wrapper.Documents .AllDocuments .TopContainer .TypeName {
  display: inline;
  font-size: 38px;
  font-weight: bold;
  color: #202020;
}

.Wrapper.Documents .AllDocuments .DocumentSingle {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 4px;
}

.Wrapper.Documents .AllDocuments .DocumentSingle a {
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #707070;
}

.Wrapper.Documents .AllDocuments .DocumentSingle a .DocumentIconContainer {
  width: 125px;
  height: 90px;
  padding: 20px 30px;
}

.Wrapper.Documents .AllDocuments .DocumentSingle a .DocumentIconContainer img {
  width: 50px;
  height: 50px;
}

.Wrapper.Documents .AllDocuments .DocumentSingle a .DocumentContentContainer {
  width: 1000px;
  height: 90px;
  padding: 30px 0px;
}

.Wrapper.Documents .AllDocuments .DocumentSingle a .DocumentContentContainer .DocumentTitle {
  text-decoration: none;
  font-weight: bold;
  color: #202020;
  margin-bottom: 0px;
}

.Wrapper.Documents .AllDocuments .DocumentSingle a .DocumentInfo {
  width: 155px;
  height: 90px;
  padding: 35px 0px;
}

.Wrapper.Documents .AllDocuments .DocumentSingle a .DocumentInfo p {
  font-size: 16px;
  margin: 0px;
}

.Wrapper.Documents .AllDocuments .DocumentSingle a .DocumentInfo p span {
  font-weight: bold;
}

.Wrapper.Rozliczenia {
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 90px;
}

.Wrapper.Rozliczenia .Panel {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 4px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #707070;
  padding: 30px 40px;
}

.Wrapper.Rozliczenia .Panel .SelectYearContainer {
  width: 100%;
}

.Wrapper.Rozliczenia .Panel .SelectYearContainer p {
  display: inline;
  margin: 0px;
}

.Wrapper.Rozliczenia .Panel .SelectMonthContainer {
  width: 100%;
}

.Wrapper.Rozliczenia .Panel .SelectMonthContainer p {
  display: inline;
  margin: 0px;
}

.Wrapper.Rozliczenia .Panel .SelectLocalContainer {
  width: 100%;
}

.Wrapper.Rozliczenia .Panel .SelectLocalContainer p {
  display: inline;
  margin: 0px;
}

.Wrapper.Rozliczenia .Panel .AdressContainer {
  width: 100%;
}

.Wrapper.Rozliczenia .Panel .AdressContainer p {
  margin: 0px;
}

.Wrapper.Rozliczenia .Panel .NameContainer {
  width: 100%;
}

.Wrapper.Rozliczenia .Panel .NameContainer p {
  margin: 0px;
}

.Wrapper.Rozliczenia .Panel .PhoneContainer {
  width: 100%;
}

.Wrapper.Rozliczenia .Panel .PhoneContainer p {
  margin: 0px;
}

.Wrapper.Rozliczenia .Panel .EmailContainer {
  width: 100%;
}

.Wrapper.Rozliczenia .Panel .EmailContainer p {
  margin: 0px;
}

.Wrapper.Rozliczenia .Panel .LoginContainer {
  width: 100%;
}

.Wrapper.Rozliczenia .Panel .LoginContainer p {
  margin: 0px;
}

.Wrapper.PytaniaOdpowiedzi {
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 90px;
}

.Wrapper.PytaniaOdpowiedzi .All {
  margin-bottom: 60px;
}

.Wrapper.PytaniaOdpowiedzi .All .TopContainer {
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
}

.Wrapper.PytaniaOdpowiedzi .All .TopContainer .CategoryName {
  display: inline;
  font-size: 38px;
  font-weight: bold;
  color: #202020;
}

.Wrapper.PytaniaOdpowiedzi .All .Single {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 4px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #707070;
  padding: 30px 40px;
  overflow: hidden;
  transition: max-height 1s;
}

.Wrapper.PytaniaOdpowiedzi .All .Single .Question {
  width: 100%;
  margin-bottom: 30px;
}

.Wrapper.PytaniaOdpowiedzi .All .Single .Question .Header {
  width: 95%;
  float: left;
}

.Wrapper.PytaniaOdpowiedzi .All .Single .Question .Header p {
  margin: 0px;
  font-size: 22px;
  font-family: "Poppins";
  font-weight: bold;
  color: #202020;
  display: inline;
}

.Wrapper.PytaniaOdpowiedzi .All .Single .Question .IconContainer {
  width: 5%;
  float: right;
}

.Wrapper.PytaniaOdpowiedzi .All .Single .Question .IconContainer .QuestionArrow {
  margin-top: 10px;
  float: right;
  transition: transform 1s;
}

.Wrapper.PytaniaOdpowiedzi .All .Single .Answer {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.Wrapper.PytaniaOdpowiedzi .All .Single .Answer p {
  margin: 0px;
  font-size: 16px;
  font-family: "Poppins";
}

.Wrapper.Zgloszenia {
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 90px;
}

.Wrapper.Zgloszenia .AllZgloszenia {
  margin-bottom: 60px;
}

.Wrapper.Zgloszenia .AllZgloszenia .TopContainer {
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
}

.Wrapper.Zgloszenia .AllZgloszenia .TopContainer .TypeName {
  display: inline;
  font-size: 38px;
  font-weight: bold;
  color: #202020;
}

.Wrapper.Zgloszenia .AllZgloszenia .TopContainer .ButtonsContainer {
  float: right;
  height: 50px;
}

.Wrapper.Zgloszenia .AllZgloszenia .TopContainer .ButtonsContainer button {
  background-color: #566FFF;
  border-radius: 4px;
  width: 180px;
  height: 50px;
  text-transform: none;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 0px;
  float: left;
  outline: 0;
}

.Wrapper.Zgloszenia .AllZgloszenia .TopContainer .ButtonsContainer button:nth-of-type(2) {
  margin-left: 15px;
}

.Wrapper.Zgloszenia .AllZgloszenia .ZgloszenieSingle {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 4px;
}

.Wrapper.Zgloszenia .AllZgloszenia .ZgloszenieSingle a {
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #707070;
}

.Wrapper.Zgloszenia .AllZgloszenia .ZgloszenieSingle a .ZgloszenieIconContainer {
  width: 125px;
  height: 90px;
  padding: 20px 30px;
}

.Wrapper.Zgloszenia .AllZgloszenia .ZgloszenieSingle a .ZgloszenieIconContainer img {
  width: 50px;
  height: 50px;
}

.Wrapper.Zgloszenia .AllZgloszenia .ZgloszenieSingle a .ZgloszenieContentContainer {
  width: 735px;
  height: 90px;
  padding: 30px 0px;
}

.Wrapper.Zgloszenia .AllZgloszenia .ZgloszenieSingle a .ZgloszenieContentContainer .ZgloszenieTitle {
  text-decoration: none;
  font-weight: bold;
  color: #202020;
  margin-bottom: 0px;
}

.Wrapper.Zgloszenia .AllZgloszenia .ZgloszenieSingle a .ZgloszenieStatusContainer {
  width: 200px;
  height: 90px;
  padding: 26px 0px;
}

.Wrapper.Zgloszenia .AllZgloszenia .ZgloszenieSingle a .ZgloszenieStatusContainer p {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  text-transform: uppercase;
  border: 1px solid;
  text-align: center;
  height: 38px;
  line-height: 38px;
  width: 135px;
}

.Wrapper.Zgloszenia .AllZgloszenia .ZgloszenieSingle a .ZgloszenieInfo {
  width: 185px;
  height: 90px;
  padding: 22px 0px;
}

.Wrapper.Zgloszenia .AllZgloszenia .ZgloszenieSingle a .ZgloszenieInfo p {
  font-size: 16px;
  margin: 0px;
}

.Wrapper.Zgloszenia .AllZgloszenia .ZgloszenieSingle a .ZgloszenieInfo p span {
  font-weight: bold;
}

.Wrapper.NowyWpis {
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 85px;
}

.Wrapper.NowyWpis #NewPostForm form h5 {
  font-size: 38px;
  font-weight: bold;
  color: #202020;
  margin: 0px;
  margin-bottom: 15px;
}

.Wrapper.NowyWpis #NewPostForm form h5 span #term_id {
  font-size: 38px;
  font-weight: bold;
  color: #566FFF;
  border: none;
  background-color: transparent;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 55px;
}

.Wrapper.NowyWpis #NewPostForm form h5 span #term_id option {
  font-size: 18px;
  padding: 0px;
}

.Wrapper.NowyWpis #NewPostForm form h5 span::before {
  content: '';
  background-color: #566FFF;
  background-image: url("//e-pzn.pl/wp-content/themes/twentytwenty/assets/images/icons/IconArrowDown.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  z-index: -1;
}

.Wrapper.NowyWpis #NewPostForm form .BackButton {
  float: right;
  background-color: #566FFF;
  border-radius: 4px;
  margin-top: -65px;
  width: 168px;
  height: 50px;
  text-transform: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 0px;
  outline: 0;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostTitle {
  background-color: white;
  padding: 35px 40px;
  border: none;
  font-size: 14px;
  color: #707070;
  border-radius: 4px;
  margin-bottom: 15px;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostTitle:focus {
  outline: none;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostTitle::-webkit-input-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostTitle::-moz-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostTitle:-ms-input-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostTitle:-moz-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostContent {
  background-color: white;
  padding: 35px 40px;
  border: none;
  font-size: 14px;
  color: #707070;
  border-radius: 4px;
  height: 215px;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostContent:focus {
  outline: none;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostContent::-webkit-input-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostContent::-moz-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostContent:-ms-input-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NowyWpis #NewPostForm form #NewPostContent:-moz-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NowyWpis #NewPostForm form input[type="submit"] {
  float: right;
  background-color: #566FFF;
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 4px;
  width: 170px;
  height: 50px;
  line-height: 0px;
  color: white;
}

.Wrapper.NoweOgloszenie {
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 85px;
}

.Wrapper.NoweOgloszenie #NewForm form h5 {
  font-size: 38px;
  font-weight: bold;
  color: #202020;
  margin: 0px;
  margin-bottom: 15px;
}

.Wrapper.NoweOgloszenie #NewForm form .BackButton {
  float: right;
  background-color: #566FFF;
  border-radius: 4px;
  margin-top: -65px;
  width: 168px;
  height: 50px;
  text-transform: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 0px;
  outline: 0;
}

.Wrapper.NoweOgloszenie #NewForm form #NewTitle {
  background-color: white;
  padding: 35px 40px;
  border: none;
  font-size: 14px;
  color: #707070;
  border-radius: 4px;
  margin-bottom: 15px;
}

.Wrapper.NoweOgloszenie #NewForm form #NewTitle:focus {
  outline: none;
}

.Wrapper.NoweOgloszenie #NewForm form #NewTitle::-webkit-input-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NoweOgloszenie #NewForm form #NewTitle::-moz-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NoweOgloszenie #NewForm form #NewTitle:-ms-input-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NoweOgloszenie #NewForm form #NewTitle:-moz-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NoweOgloszenie #NewForm form #NewContent {
  background-color: white;
  padding: 35px 40px;
  border: none;
  font-size: 14px;
  color: #707070;
  border-radius: 4px;
  height: 215px;
}

.Wrapper.NoweOgloszenie #NewForm form #NewContent:focus {
  outline: none;
}

.Wrapper.NoweOgloszenie #NewForm form #NewContent::-webkit-input-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NoweOgloszenie #NewForm form #NewContent::-moz-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NoweOgloszenie #NewForm form #NewContent:-ms-input-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NoweOgloszenie #NewForm form #NewContent:-moz-placeholder {
  font-size: 14px;
  color: #707070;
  opacity: 0.35;
}

.Wrapper.NoweOgloszenie #NewForm form input[type="submit"] {
  float: right;
  background-color: #566FFF;
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 4px;
  width: 185px;
  height: 50px;
  line-height: 0px;
  color: white;
}
