.Wrapper.HomePage {
  max-width: 1280px;
  width: 100%;
  display: block;
  margin: auto;
}

.Wrapper.HomePage .Columns3Wrapper {
  display: flex;
  flex-wrap: wrap;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter {
  width: 33.333%;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner {
  text-align: center;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneAdresowe, .Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneKontaktowe {
  font-size: 16px;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneAdresowe .DaneHeader, .Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneKontaktowe .DaneHeader {
  font-size: 28px;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneAdresowe a, .Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .DaneKontaktowe a {
  text-decoration: none;
  color: g;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LogoutButton {
  display: block;
  text-align: center;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LoginForm {
  text-align: center;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LoginForm input {
  max-width: 320px;
  width: 100%;
  margin: auto;
}

.Wrapper.HomePage .Columns3Wrapper .ColumnOuter .ColumnInner .LoginForm input:first-child {
  margin-bottom: 15px;
}
